.panel-default{
    width: 100%;
    margin-left: 88px;
}
.title{
    margin-left: 144px;
}
.director{
    font-weight:600px;
    font-size: 16px;
}
.rating{
    Border:1px solid grey;
    padding:12px;
    border-radius: 5px;
    float:right;
    margin: 22px;
    font-size: 16px;
}
.lang{
    font-weight:600px;
    font-size: 16px;
}
.cast{
    font-weight:600px;
    font-size: 16px;
}